<%= link_to "Editar", edit_admin_page_path(@page), class: 'btn btn-primary float-right' %>
<h1 class="h4">
  Página: <%= @page.title %>
</h1>

<hr>

<%= @page.html %>

<hr>

<p>
  <%= link_to "Voltar", admin_pages_path %>
</p>
