<div class="alert alert-warning" role="alert">
  <strong>Atualização do dia 5 de Maio de 2021</strong>: A lista de grupos prioritários e comorbidades foi atualizada.
  Caso você pertença a algum grupo listado abaixo e não conseguir agendar sua vacina, pedimos que clique em
  <%= link_to "Alterar meus dados", edit_community_patient_path, class: "btn btn-light" %> e garanta que seu cadastro
  encontra-se atualizado.
</div>

<p data-cy="conditionsUnmetText">
  Você não faz parte de grupo que pode receber dose.
  Mediante disponibilidade de doses, atualmente os seguintes grupos estão sendo vacinados:
</p>
<ul>
  <% SchedulingCondition.enabled.pluck(:name).each do |name| -%>
    <li>
      <i class="fa fa-check-circle" aria-hidden="true" style="color: green"></i> <%= name %>
    </li>
  <% end -%>
</ul>
<p>
  Fique atento a página inicial deste site e a veículos oficiais de imprensa para saber quando você poderá agendar sua vacina.
</p>
