<h1 class="display-6" data-cy="dosesAvailableText">
  Temos
  <strong>
    <%= @appointments_count %> doses disponíveis
  </strong>
</h1>
<p class="lead">
  As doses disponíveis são para o grupo do qual você faz parte.
</p>
<hr class="my-4">

<%= link_to "Agendar sua vacina",
            community_appointments_path,
            class: "btn btn-primary btn-block",
            data: {
              cy: "appointmentRescheduleButton",
            } %>
