<h1 class="display-6">
  Aguardando novas doses
</h1>
<p class="lead">
  Você faz parte de grupo para receber a vacina, mas no momento não temos disponibilidade de dose.
</p>
<hr class="my-4">
<p>
  Fique atento à página inicial deste site para saber quando ocorrerá a liberação de novas vagas disponíveis para
  agendar a vacinação da sua dose.
</p>
