<div class="jumbotron">
  <% if @appointments_count.positive? -%>
    <%= render "home_can_schedule_available_slot" %>
  <% else -%>
    <%= render "home_can_schedule_no_available_slot" %>
  <% end -%>

  <p class="mt-4"></p>

  <%= embedded_page :patient_can_schedule %>
</div>
