<div class="jumbotron" data-cy="conditionsUnmetText">
  <h1 class="display-6">
    Seu cadastro está completo, no entanto, neste momento não há doses disponíveis para o seu grupo prioritário!
  </h1>
  <hr class="my-4">

  <%= embedded_page :patient_cannot_schedule %>
</div>
