<h1 class="h4">
  Agendamento: <%= @appointment.id %>
</h1>

<%= render @appointment %>

<div class="text-center">
  <%= link_to "Voltar", return_to || admin_appointments_path, class: "btn-lg" %>
</div>
