<%= link_to "Editar", edit_admin_scheduling_condition_path(@scheduling_condition), class: 'btn btn-primary float-right' %>
<h1 class="h4">
  Condição de agendamento: <%= @scheduling_condition.name %>
</h1>

<p>
  <%= link_to "Voltar", admin_scheduling_conditions_path %>
</p>
