<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :cpf, "CPF" %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11 %>
  </div>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>
