<% if @patients.present? %>
  <% @patients.each do |patient| %>
    <p>Nome: <%= patient.name %></p>
    <p>CPF: <%= patient.cpf %></p>
    <a href=<%= ubs_patient_details_path(patient_id: patient.id) %>>Ir pro paciente</a>
  <% end %>
<% else %>
  Pessoa não encontrada
<% end %>
