  <p>
    <strong><a href='https://www.joinville.sc.gov.br/vacina-do-coronavirus-em-joinville-perguntas-e-respostas/' target='blank'>
      Dúvidas sobre a vacinação e mais informações sobre o combate ao coronavírus
    </a></strong>
  </p>

  <p>
    Problemas de acesso ao site?
    <strong><a href='https://api.whatsapp.com/send?phone=554734815165' target='blank'>
      Clique aqui
    </a></strong>.
    Atendimento de Segunda a sexta-feira - 07:00–20:00, exceto feriados e pontos facultativos.
  </p>

  <h2>Manifestar-se</h2>

  <p><a href="https://www.joinville.sc.gov.br/servicos/registrar-manifestacao-a-ouvidoria/">Registrar manifestação</a>
    para reclamação, sugestão ou elogio sobre estas informações. Para informações adicionais,
    <a href="https://www.joinville.sc.gov.br/servicos/registrar-pedido-de-informacao/">registrar pedido de
      informação</a>.
  </p>
