<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<%= render "shared/orientation_text" %>
