<ul>
    <li>Documento oficial de identificação com foto.</li>
    <li>Se imunossuprimido, obrigatório apresentar liberação médica por escrito autorizando a aplicação da vacina.</li>
    <li>Carteira de vacinação, caso possua.</li>
    <li>Crachá funcional, holerite/folha de pagamento, carteira de trabalho ou declaração que comprove vínculo ativo
      com serviço de saúde no Município de <%= Settings[:city_name] %> (em caso de terceirizados e estagiários, a declaração deve ser emitida
      pelo serviço de saúde contratante, para comprovar o vínculo). Para autônomos,
      é necessário apresentar comprovante como cadastro de autônomo, RPA, ISS ou MEI</li>
    <li>Se trabalhador atuante em serviços de saúde no Município de <%= Settings[:city_name] %> com comorbidades estabelecidas pelo
      Programa Nacional de Imunização (PNI), apresentar atestado, declaração, laudo ou receita médica que comprove a condição clínica.
      Trazer ainda autorização médica para receber a vacina.</li>
    <li>Considerando o <a href='https://bit.ly/3tZSpE7' target='blank'>Item 4 do Ofício OFÍCIO Nº 234/2021/CGPNI/DEIDT/SVS/MS de 11 de março de 2021</a>,
      os estabelecimentos de Interesse à Saúde (exemplos: academias de ginástica, clubes, salão de beleza, clínica de estética, óticas, estúdios de tatuagem
      e estabelecimentos de saúde animal) NÃO serão contemplados nos grupos prioritários elencados inicialmente para a vacinação.</li>
  </ul>
