<h2>Patrocínio</h2>

<div class="row">
  <div class="col-sm text-center mt-2">
    <%= link_to image_tag("sponsors/fab-lab-joinville.png", title: "FabLab Joinville", class: 'img-fluid'),
                "https://www.fablabjoinville.com.br", target: :fablabjlle %>
  </div>

  <div class="col-sm text-center mt-2">
    <%= link_to image_tag("sponsors/dc.png", title: "Drogaria Catarinense", class: 'img-fluid'),
                "https://www.drogariacatarinense.com.br", target: :dc %>
  </div>

  <div class="col-sm text-center mt-2">
  </div>
</div>
