<div class="row text-center">
  <div class="col">
    <p class="h4">Agendamento para o teste rápido da COVID-19 em Joinville</p>
  </div>
</div>

<div class="alert alert-info alert-dismissable mb-5 mt-5" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h6 class="mb-0" style="text-align: center;">
    Os <strong>Testes Rápidos para Assintomáticos</strong> que estão sendo disponibilizados pela Secretaria da Saúde fazem parte da 2ª Fase do Inquérito Epidemiológico Covid, e são de <strong>adesão voluntária</strong> e <strong>somente serão agendados ou cancelados através desse canal</strong>.<br/><br/>

    Reiteramos que os <strong>Testes Rápidos não são indicados para pessoas sintomáticas</strong>, por isso, caso esteja com sintomas, <strong>procure uma Unidade de Saúde</strong> para uma avaliação presencial.<br/><br/>

    Caso <strong>você ou alguém de sua residência esteja cumprindo período de isolamento</strong> após confirmação de diagnóstico de Covid-19, <strong>cancele seu exame</strong> caso tenha agendado e <strong>aguarde 10 dias para agendá-lo novamente</strong>.<br/><br/>

    Um <strong>resultado positivo</strong> (IgG ou IgM), indica apenas contato anterior com o vírus, <strong>não sendo garantia de imunidade</strong>, logo o <strong>uso de máscara</strong>, a <strong>higiene das mãos</strong> e as medidas de <strong>distanciamento social</strong> precisam ser mantidas, <strong>independente do resultado</strong>.<br/>
  </h6>
</div>

<p class="mt-5">Faça seu agendamento abaixo e dirija-se até a unidade escolhida com um documento de identificação em mãos.</p>


<div class="row text-center">
  <div class="col">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF' %>
        <small id="cpfHelpInLine" class="text-muted">
          Cadastre seu CPF para fazer o agendamento do seu teste rápido para COVID-19
        </small>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>

<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
