
<div class="row text-center">
  <div class="col">
    <p class="h4">Campanha Nacional de Vacinação contra Gripe em Joinville</p>
    <p>Agendamento de Vacina para idosos <strong>acima de 60 anos</strong></p>
  </div>
</div>

<div class="alert alert-secondary" role="alert">
  A vacinação da gripe no período de 6 a 16 de abril 2020 é somente para <strong>idosos</strong> acima de 60 anos e pode ser agendada pelo próprio idoso ou um outro familiar.
</div

<p>Faça seu agendamento abaixo e dirija-se até a unidade escolhida com um documento de identificação em mãos.</p>

<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF' %>
        <small id="cpfHelpInLine" class="text-muted">
          Digite seu CPF sem pontuação, apenas números.
        </small>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
