<div class="row text-center">
  <div class="col">
    <p class="h4">Agendamento para o teste rápido da COVID-19 em Joinville</p>
  </div>
</div>

<div class="alert alert-warning mb-5 mt-5" role="warning">
  <a href="#" class="close" data-dismiss="warning" aria-label="close">&times;</a>
  <h6 class="mb-0" style="text-align: center;">
    Prezados usuários, informamos que <strong>não haverá realização de Teste Rápido no Centro de Triagem da Tupy para assintomáticos no período de 19/12/2020 até 03/01/2021</strong>. Só será feito atendimento (<strong>sem agendamento</strong>) de pacientes <strong>com sintomas gripais</strong>.<br/><br/>
    
    Se você está sem sintomas e precisa fazer o teste, procure uma destas Unidades de Saúde: 
    UBSF Aventureiro III, UBSF Pirabeiraba e UBSF Bucarein ou contate o Ligue/Web-Saúde por telefone ou WhatsApp no <strong>3481-5165<strong>.
  </h6>
</div>

<p class="mt-5">Faça seu agendamento abaixo e dirija-se até a unidade escolhida com um documento de identificação em mãos.</p>


<div class="row text-center">
  <div class="col">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF' %>
        <small id="cpfHelpInLine" class="text-muted">
          Cadastre seu CPF para fazer o agendamento do seu teste rápido para COVID-19
        </small>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>

<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
