<div class="row text-center">
  <div class="col">
    <p class="h4">Portal de Agendamento referente à COVID-19 em Joinville</p>
  </div>
</div>


<div class="row text-center mt-5 mb-5">
  <div class="col">
    <%= link_to 'Clique aqui se você está com sintomas gripais e agende um atendimento', "https://vacinajoinville.com.br/", class: "btn btn-danger btn-block" %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <%= link_to 'Clique aqui se você não está com sintomas e quer realizar seu teste rápido para a COVID-19', "/home_teste_rapido", class: "btn btn-primary btn-block" %>
  </div>
</div>


<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>

<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
