<div class="row text-center">
  <div class="col">
    <p class="h4">Agendamento para atendimento no Centro de Tratamento Precoce COVID-19 de Joinville</p>
  </div>
</div>

<div class="alert alert-info alert-dismissable mb-5 mt-5" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h5 class="mb-0" style="text-align: center;"><strong>ATENÇÃO!</strong><br/>
  O Centro de Tratamento Precoce do COVID-19 continua atendendo normalmente, no entanto, para fazer o agendamento é preciso <strong>ligar para o número 3481-5165</strong> ou mandar mensagem via WhatsApp para este mesmo número. Uma equipe de médicos e enfermeiros lhe atenderá e passará todas as orientações necessárias.</h5>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <%= link_to 'CLIQUE AQUI PARA FAZER SEU AGENDAMENTO VIA LIGUE/WEB SAÚDE', "https://api.whatsapp.com/send?phone=554734815165&text=Desejo%20agendar%20uma%20consulta%20no%20Centro%20de%20Tratamento%20Precoce%20Covid-19", class: "btn btn-danger btn-block" %>
  </div>
</div>

<!-- <p class="mt-5">Verifique <strong><%= link_to "Aqui", "/cartaz_doentes_cronicos.pdf", target: :_blank %></strong> a lista de doenças crônicas para que o cidadão possa realizar o agendamento da vacina.</p> -->

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img class="disk-health-banner" src=<%= image_path('joinville_contra_o_coronavirus_novo.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>

<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
