<h1 class="h4">
  Criar resposta
</h1>

<div class="mt-4 mb-5">
  <%= render 'form' %>
</div>

<p>
  <%= link_to "Cancelar e voltar", admin_inquiry_question_inquiry_answers_path(@inquiry_question) %>
</p>
