<div class="row">
  <div class="col-8">
    <h1 class="h4">
      Resposta: <%= @inquiry_answer.text %>
    </h1>
  </div>

  <div class="col-2">
    <%= link_to "Editar", edit_admin_inquiry_question_inquiry_answer_path(@inquiry_question, @inquiry_answer), class: 'btn btn-primary btn-block' %>
  </div>

  <div class="col-2">
    <%= link_to "Remover", [:admin, @inquiry_question, @inquiry_answer], method: :delete,
                class: 'btn btn-danger btn-block',
                data: { confirm: "Tem certeza?" } %>
  </div>
</div>

<hr>

<p>
  <%= link_to "Voltar", admin_inquiry_question_inquiry_answers_path(@inquiry_question) %>
</p>
