<h2>Caro cidadão:</h2>

Infelizmente no momento só estão sendo agendadas vacinas para idosos (com 60 anos ou mais).
<br>
<br>
Para mais informações, ligue ou mande uma mensagem pelo Whatsapp para <strong>3481-5165</strong>.
<br>
<br>

<%= link_to "Início", root_path %>