<h1>Olá <%= @patient.name.camelize %></h1>

Devido ao número elevado de tentativas erradas de entrada no sistema, sua conta foi bloqueada!
<br>
Para destravar a conta, ligue para <strong>3481-5165</strong>

<br>
<br>


Para mais informações, acesse o site oficial em <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a>
