<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Caro cidadão:</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Infelizmente no momento só estão sendo agendadas vacinas para idosos (com 60 anos ou mais).</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Para mais informações, ligue ou mande uma mensagem pelo WhatsApp para <strong>3481-5165</strong></p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <%= link_to "Início", root_path, class: 'btn btn-primary' %>
  </div>
</div>
