<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Prezado cidadão:</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p>
      Informamos que, <strong>para garantir o acesso a todos que desejam voluntariamente fazer o teste</strong>, o sistema só permite um teste por mês, logo, <strong>se o usuário não cancelou o agendamento</strong>, seu reagendamento <strong>só será permitido após 30 dias</strong>.<br/><br/>

      Caso você desenvolva qualquer <strong>sintoma respiratório</strong> ou tenha febre (acima de 37,8°C), procure uma <strong>Unidade de Saúde</strong> para uma avaliação presencial.
      <br/>
    </p>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <%= link_to "Voltar ao Início", root_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <small class="text-muted">Para mais informações sobre eventos de saúde da cidade, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>
