<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Prezado cidadão:</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p>
      <strong style="color: red;">AGENDAMENTO NÃO PERMITIDO!</strong>
      <br/><br/>
      <strong>Olá, você já fez um agendamento nos últimos 30 dias, aguarde este período para fazer um novo agendamento ou ligue no 3481-5165 ou mande mensagem via WhatsApp neste mesmo número.</strong>
      <br/>
    </p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <img src=<%= image_path('joinville_contra_o_coronavirus_novo.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <%= link_to "Voltar ao Início", root_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <small class="text-muted">Para mais informações sobre eventos de saúde da cidade, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>
