<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12"><%= @patient.name.titleize %>,</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Devido ao número elevado de tentativas erradas de entrada no sistema, sua conta foi bloqueada!</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Para destravar a conta, ligue para <strong>(47) 3481-5165</strong></p>
  </div>
</div>
<br>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre eventos de saúde da cidade, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/?post_type=evento&tag-tipo-evento=conscientizacao&s=">https://www.joinville.sc.gov.br/evento/conscientizacao/</a></small>
  </div>
</div>
