<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12"><%= @patient.name.titleize %>,</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Devido ao número elevado de tentativas erradas de entrada no sistema, sua conta foi bloqueada!</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Para destravar a conta, ligue para <strong>3481-5165</strong></p>
  </div>
</div>
<br>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Para mais informações, acesse o site oficial em <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></p>
  </div>
</div>
<br>
