<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Prezado cidadão:</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p>
      <strong style="color: red;">AGENDAMENTO NÃO PERMITIDO!</strong>
      <br/><br/>
      Você não pertence a nenhum grupo prioritário sendo vacinado nesta fase.
      <br/>
    </p>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <%= button_to edit_patient_registration_path(@patient), class: "btn btn-primary btn-block", method: :get do %>
      Alterar meus dados
    <% end %>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <small class="text-muted">Para mais informações sobre eventos de saúde da cidade, acesse:<br>
      <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>
