<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Prezado cidadão:</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p>
      <strong style="color: red;">INFELIZMENTE VOCÊ NÃO FAZ PARTE DO PÚBLICO ALVO PARA OS TESTES!</strong>
      <br/><br/>
      Infelizmente neste momento só serão testadas pessoas com 14 anos ou mais. Caso você esteja sentindo algum sintoma de gripe ou falta de ar, ou mesmo outros
      sintomas que estão lhe gerando desconforto, entre em contato pelos canais abaixo que uma equipe de médicos e enfermeiros lhe
      darão todas as orientações e atendimento necessário. O horário de atendimento é das 07:00 às 20:00, de segunda à sexta-feira.
      <br/>
      Em outros dias e horários, procure o serviço de urgência para análise do seu caso.
      <br/>
    </p>
    <img src=<%= image_path('joinville_contra_o_coronavirus_novo.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <%= link_to "Voltar ao Início", root_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <small class="text-muted">Para mais informações sobre eventos de saúde da cidade, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>
