<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Prezado cidadão:</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Infelizmente no momento só estão sendo agendadas vacinas para: Idoso (acima de 60 anos), pessoa que possui doença crônica, pessoa com deficiência, criança entre 6 meses a 5 anos, gestante e pós-parto recente (puérpera).</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Para mais informações sobre eventos de vacinação da cidade, acesse:</p>
    <p class="h8 mb-12"><a href="https://www.joinville.sc.gov.br/?post_type=evento&tag-tipo-evento=conscientizacao&s=">https://www.joinville.sc.gov.br/evento/conscientizacao/</a></p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <%= link_to "Início", root_path, class: 'btn btn-primary' %>
  </div>
</div>
