<div class="row text-center">
  <div class="col">
    <h2>
      <strong style="color: green;">CADASTRO CONCLUÍDO COM SUCESSO.</strong>
    </h2>
    <br/>
    <p data-cy="patientNotAllowedText">
      Seu cadastro já foi concluído com sucesso, mas o agendamento para o seu grupo ainda não está disponível. Aguarde a divulgação das datas para agendamento.
    </p>
    <br/>
  </div>
</div>

<div class="row mt-3">
  <div class="col text-center" style="margin-bottom: 3%;">
    <%= button_to edit_patient_registration_path(@patient), class: "btn btn-primary centered-button", method: :get do %>
      Alterar meus dados
    <% end %>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <small class="text-muted">
      <a href="https://www.joinville.sc.gov.br/coronavirus/"><u>Acompanhe as principais informações sobre o combate ao coronavírus em Joinville</u></a>
    </small>
  </div>
</div>
