<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12" data-cy="successfullAppointmentCreatedText" >Você realizou o agendamento da sua vacina!</p>
  </div>
</div>

<%= render @appointment %>

<div class="row text-center">
  <div class="col">
    <a href="<%= index_time_slot_path %>" class="btn btn-primary" data-cy="backButton">Voltar</a>
  </div>
</div>
<br/>
