<div class="row">
  <div class="col-8">
    <h1 class="h4">
      Bairro: <%= @neighborhood.name %>
    </h1>
  </div>

  <div class="col-2">
    <%= link_to "Editar", edit_admin_neighborhood_path(@neighborhood), class: 'btn btn-primary btn-block' %>
  </div>

  <div class="col-2">
    <%= link_to "Remover", admin_neighborhood_path(@neighborhood), method: :delete, class: 'btn btn-danger btn-block', data: { confirm: "Tem certeza?" } %>
  </div>
</div>

<p>
  <%= link_to "Voltar", admin_neighborhoods_path %>
</p>
