<%= render "operator/shared/ubs_nav" %>

<% if @ubs.active %>
  <div class="d-flex justify-content-between align-items-center alert alert-success" role="alert">
    Unidade ativada: aceitando agendamentos.
    <%= link_to "Desativar unidade",
                suspend_operator_ubs_path(@ubs),
                method: :patch,
                class: "btn btn-danger",
                data: {
                  confirm: "Tem certeza?"
                } %>
  </div>
<% else %>
  <div class="d-flex justify-content-between align-items-center alert alert-danger" role="alert">
    Unidade desativada: não aceitando agendamentos.
    <%= link_to "Ativar unidade",
                activate_operator_ubs_path(@ubs),
                method: :patch,
                class: "btn btn-success",
                data: {
                  confirm: "Tem certeza?"
                } %>
  </div>
<% end %>
