$enable-responsive-font-sizes: true;

$blue: #005293;

.navbar {
  &.bg-background {
    background: #005293 url(image-path('background_menu.png')) center bottom repeat-x;
  }

  &__logo {
    width: auto;
    height: auto;
    max-height: 46px;
  }
}


@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.far {
  padding: 12px;
  font-size: 70px;
  color: $blue;
}

.comm-img {
  width: 100%;
  height: auto;
}

.day {
  width: 25%;
}

.month {
  width: 45%;
}

.year {
  width: 30%;
}

.form-check {
  margin-left: 3%;
}

.simple-link {
  text-decoration: underline;
}

.table td {
  vertical-align: middle;
}

.table {
  font-size: 1.2rem;
}
.mother-list {
  width: 40%;
}

.mother-list input[type="radio"] {
  width: 0px;
}

.centered-button {
  width: 40% !important;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins";
}

.pagination-link {
  margin: 0 10px 0 10px;
  font-size: larger;
  font-weight: bold;
}

.info-page {
  h1, h2, h3, h4, h5, h6 {
    padding-top: 2%;
    font-weight: bold;
  }
}
