$enable-responsive-font-sizes: true;

$blue: #005293;

.navbar {
  &.bg-primary {
    background: #005293 url(image-path('background_menu.png')) center bottom repeat-x;
  }
  &__logo {
    width: auto;
    height: auto;
    max-height: 46px;
  }
}


@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.far {
  padding: 12px;
  font-size: 70px;
  color: $blue;
}

.comm-img {
  width: 100%;
  height: auto;
}

.day {
  width: 25%;
}

.month {
  width: 45%;
}

.year {
  width: 30%;
}
