/* ==========================================================================
 General and Typography
========================================================================== */
body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}
img {
    max-height:100%;
    max-width:100%;
}


#header .banner h1{
    font-family:'Kreon',serif;
}

.navbar-brand h2, #header .subtitle h4 {
    font-family: 'Pacifico', serif;
}


/* ==========================================================================
 Header
========================================================================== */
#header {
    background-image:url(../img/header-bg.jpg);
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    position:relative;
    min-height: 512px;
}
.bg-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(9, 41, 56, 0.05);
    z-index:0;
}
#header .center {
    position:relative;
    z-index:1;
    color:white;
}
#header .bottom {
    color:white;
}
#header .center .slogan {
    font-size:26px;
    text-transform:uppercase;
}
#header .banner h1 {
    font-size: 118px;
    color:white;
    text-transform:uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 70%;
}
#header .subtitle h4 {
    font-size:38px;
}
#header .bottom {
    width:100%;
    position:absolute;
    bottom: 0;
}
#header .bottom a {
    font-size:58px;
    color:whitesmoke;
    position:relative;
    top:-5px;
}

/* ==========================================================================
 Navigation
========================================================================== */
#menu {
    background: rgba(211, 230, 231, 1);
    margin-bottom:0;
    border-color: #55cbd2;
    background: #55cbd2;
}
.navbar-brand h2 {
    margin-top:0;
    font-weight:bold;
    text-shadow: none;
}
.navbar-brand {
    padding-top:8px;
    padding-bottom:0;
}
.navbar-inverse .navbar-nav>li>a {
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    font-weight:bold;
    text-shadow: none;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>.active>a {
    background: #55cbd2;
    color:white;
    text-shadow:none;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}

.navbar-brand h2, .navbar-inverse .navbar-nav>li>a{
    color: #4D949E;
    color: white;
}
.navbar-toggle {
    font-size: 2.5em;
    padding: 0px;
    border: 0px;
    margin: 0px 15px 0px 0px;
    color: white;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: transparent;
    color: darkcyan;
}

.signupForm {
    background: #55cbd2;
    padding: 16px 0;
}
.signupForm .form-control {
    background: transparent;
    border-radius: 0;
    border: 2px solid white;
    color: white;
}
.signupForm .btn-primary {
    background: #000000;
    border-radius: 0;
    box-shadow: none;
    border: 2px solid black;
    transition: all 0.4s;
}
.signupForm .btn-primary:hover {
    background: white;
    color: #55cbd2;
    border-color: #9CDEE2;
}

.signupForm .btn-primary:focus {
    outline: none;
}

/* do not group these rules */
.form-control::-webkit-input-placeholder { color:#fff; }
.form-control::-moz-placeholder { color:#fff; } /* firefox 19+ */
.form-control:-ms-input-placeholder { color:#fff; } /* ie */
input:-moz-placeholder { color:#fff; }


/* ==========================================================================
 footer
========================================================================== */
.dark-wrapper {
    background: #55cbd2;
    color:white;
    font-size: 15px;
    font-weight:bold;
}
.dark-wrapper .ss-style-top::before {
    background-image:linear-gradient(315deg,#ed0121 50%,transparent 50%),linear-gradient(45deg,#ed0121 50%,transparent 50%);
}
.social-bar {
    width:100%;
    text-align:right;
}
.social-bar a {
    display:inline-block;
    margin-right:11px;
    font-size:2.15em;
    text-decoration:none;
    color: white;
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-transition:opacity 350ms ease;
    -moz-transition:opacity 350ms ease;
    -o-transition:opacity 350ms ease;
    transition:opacity 350ms ease;
}
.social-bar a:hover {
    opacity:0.5;
    filter: alpha(opacity=50);
}

.themeBy{
    color: #55cbd2;
    background: white;
}
footer ul {
    margin: 0;
    list-style: none;
}
footer ul li a {
    color: white;
    transition: all 0.4s;
}

/* ==========================================================================
 Responsive styles
========================================================================== */

@media (max-width: 1199px){

    h1.giant-heading {
        font-size: 104px;
    }
}


@media (max-width: 991px){

    h1.giant-heading {
        font-size: 82px;
    }
}


@media (max-width:767px) {
    #header .banner h1 {
        font-size:60px;
    }
    #header .subtitle h4 {
        font-size: 22px;
    }
    .social-bar {
        text-align: left;
        margin-top: 30px;
    }

    h1.giant-heading {
        font-size: 65px;
        text-align: center;
    }


    .blog .left .news > img, .blog .right .news > img {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .news h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .news {
        text-align: left !important;
        padding: 0px !important;
    }
    .row.blog {
        background: none;
    }
    .mb10{
        margin-bottom: 10px;

        display: block;
    }
    .section-title {
        font-size: 36px;
    }
    footer ul {
        padding-left: 0;
        margin-top: 20px;
        border-top: 1px solid;
        padding-top: 10px;
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }

}


