<div class="dropdown">
  <a class="btn dropdown-toggle btn-lg" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if (controller.kind_of?(Operator::AppointmentsController) || controller.kind_of?(Operator::UbsController)) && @ubs %>
      <%= @ubs.name %>
    <% elsif controller.kind_of?(Operator::PatientsController) -%>
      Administração: Pacientes
    <% end -%>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Unidade:</a>
    <% current_user.ubs.order(:name).each do |ubs| -%>
      <%= link_to ubs.name, operator_ubs_appointments_path(ubs), class: "dropdown-item" %>
    <% end -%>

    <% if current_user.administrator -%>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Administração:</a>
      <%= link_to "Pacientes", operator_patients_path, class: "dropdown-item" %>
    <% end -%>
  </div>
</div>
