<h1 class="h4">Unidades</h1>

<table class="table table-bordered table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Ativa?</th>
  </tr>
  </thead>
  <tbody>
  <% @ubs.each do |ubs| -%>
    <tr data-cy="patient">
      <td>
        <%= link_to ubs.id, admin_ubs_path(ubs) %>
      </td>
      <th scope="row" class="align-middle">
        <%= ubs.name %>
      </th>
      <td>
        <%= ubs.active ? "✅" : "❌" %>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>

<div>
  <%= paginate @ubs %>
</div>
