index<br/>

<a href="<%= ubs_active_hours_path %>">Alterar horario de funcionamento</a><br/>
<a href="<%= ubs_slot_duration_path %>">Alterar durações de atendimento</a><br/>

<%= button_to 'Exit', destroy_user_session_path, method: :delete %>
