<%= render :layout => '/ubs/nav' do %>

  <% if @ubs.active %>
    <div class="d-flex justify-content-between align-items-center alert alert-success" role="alert">
      Unidade ativada: Aceitando agendamentos.
      <a class="btn btn-danger" href=<%= "/ubs/#{@ubs.id}/deactivate_ubs" %>
                onclick="return confirm('Você tem certeza?')">Desativar Unidade</a>
    </div>
  <% else %>
    <div class="d-flex justify-content-between align-items-center alert alert-danger" role="alert">
      Unidade desativada: Não aceitando agendamentos.
      <a class="btn btn-success" href=<%= "/ubs/#{@ubs.id}/activate_ubs" %>
                onclick="return confirm('Você tem certeza?')">Ativar Unidade</a>
    </div>
  <% end %>
<% end %>
